<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body style="background-color:#F8F8F8;">


    <div>
        <nav>
            <%- include('common/header'); %>
        </nav>
        <home>
            <div style=" margin-left: 30vw; margin-right: 30vw; border: 1px solid #F8F8F8; border-radius: 20px; margin-top:
            5vw ; background-color: #FFFFFF; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); text-align: center;">
                <p>Thank you for applying!</p>
                <p>We will be in touch soon with any further information surrouding your application.</p>
                <a href="/" style="text-decoration: none;"> <button class="btn"
                        style="background-color: #12445E; color: white; border-radius: 20px;">See other jobs
                    </button></a><br>&nbsp;&nbsp;&nbsp;
            </div>
        </home>
    </div>

</body>

</html>