<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div> 
        <nav>
            <%- include('common/header'); %>
        </nav>
        <home> 
            <div>
            <h1>Home</h1>
            <img src="rick.png" alt="wtf">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi ipsa nam iste obcaecati voluptatibus consectetur veniam, deleniti quidem saepe perferendis facere placeat qui minus nesciunt esse harum ut eligendi repellat!
            </p>
            </div>
        </home>
    </div>
</body>
</html>